*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: brown;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.title{
  font-size: 6vmax;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-top: 50px;
}

.containerButton{
 display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 300px;
  margin: 50px;
}

.button{
  background-color: white;
  min-width: 120px;
  max-width: 220px;
  height: 60px;
  border: 0;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  color: brown;
  position: absolute;
  left: 15%;
}
